html {
  background: #282c34;
}

.grid-container {
  font-family: 'Ubuntu Mono', monospace;
}

.grid-container .line {
  display: flex;

  /* NOTE: this is dangerous; need to think about how to deal with lines
           with no content */
  min-height: 20px;
}

.grid-container .line.cursor-line {
  background-color: rgba(153, 187, 255, 0.04);
}

.grid-container .cell {
  box-sizing: border-box;
  height: 20px;
  position: relative;
  width: 9px;
}

.grid-container .text {
  color: #abb2bf;
  position: absolute;
  top: 2px;
  left: 0;
}

.grid-container .cursor {
  background: #528bff;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
  z-index: 5;
}
